@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Alterado para organizar os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #0077b6;
    text-align: center;
    margin-bottom: 10px; /* Espaçamento entre a logo e os outros itens */
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.photo-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0077b6;
    margin-bottom: 10px;
    background-color: #ecf0f1;
}

.photo-container input[type="file"] {
    display: none;
}

.photo-container label {
    background-color: #0077b6;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.photo-container label:hover {
    background-color: #005f8b;
}

.form-container {
    width: 100%; /* Ajustei para 100% para usar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #0077b6;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Usa todo o espaço disponível */
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.label-input input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: #34495e;
}

.icon-modify {
    color: #7f8c8d;
    margin-right: 10px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 0.4rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #0077b6;
}
.btn-second {
    background-color: #0077b6;
    border: 1px solid #0077b6;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #0077b6;
    color: #0077b6;
}

@media screen and (max-width: 425px) {
    .content {
        width: 90%;
    }

    .btn {
        font-size: 12px;
        padding: 8px;
    }

    .label-input {
        padding: 8px;
    }

    .photo-container {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-container {
        width: 100%;
    }
}
